<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Etiquetas.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SqlConect" connectionString="Data Source=SERVIDOR-PC;Initial Catalog=POWERMARKET;User ID=etiquetas;password=etiquetas"/>
    <add name="OrclConect" connectionString="Data Source=190.12.62.242;User ID=constructor;Password=strategy;Unicode=True"/>
    <add name="StrategySoftware.My.MySettings.ConnectionString" connectionString="Data Source=190.12.62.242;Persist Security Info=True;User ID=constructor;Password=strategy;Unicode=True" providerName="System.Data.OracleClient"/>
    <!--<add name="OdbcDatabase" connectionString="Dsn=cc_etiquetas;uid=DBA;Pwd=proyecto2014;" providerName="System.Data.Odbc" />-->
    <add name="OdbcDatabase" connectionString="Dsn=cc_pruebas;uid=DBA;Pwd=strategy;" providerName="System.Data.Odbc" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- En esta sección se define la configuración del registro para My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <Etiquetas.My.MySettings>
      <setting name="Almacen" serializeAs="String">
        <!--<value>    charapoto  </value>-->
        <value>COMERCIAL ROMERO REYNA</value>
        <!--<value>            Lubricadora Bowen           </value>-->
      </setting>
      <setting name="ListaEtiquetas" serializeAs="String">
        <!--<value>,,2,,,,,7</value>-->
        <value>0,,,,5,,,</value>
      </setting>
    </Etiquetas.My.MySettings>
  </userSettings>
  <appSettings>
    <add key="Provider" value="System.Data.OracleClient" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--<add key="key_Empresa" value="1" />-->
    <add key="codEmpresa" value="17" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
